@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth!important;
    overflow: hidden;
    height: 100%;
    -webkit-scroll-behavior: smooth;
    transition: 600ms;
}



body {
    
    font-family: 'Ubuntu', sans-serif;
    overflow: auto;
    height: 100%;
    scroll-behavior: smooth!important;
    
}
.container {

    max-width: 75%;
}

.carousel {

    scrollbar-width: none;
}

.shadow-shadow-card {

    box-shadow: 0px 3px 30px 5px rgba(0,0,0,0.1);
}


.carousel::-webkit-scrollbar {

    display: none;
    width: 1px;
    height: 1px;
}

.bg-modal {

    background-image: url(https://uploaddeimagens.com.br/images/003/906/911/full/Grupo_3138.png?1655487147);
    background-size: cover;
    
}

.bg-trabalheconosco {

    background-image: url(https://uploaddeimagens.com.br/images/003/907/088/full/Grupo_3142.png?1655494614);
    background-size: cover;
}

.bg-revendas {

    background-image: url(https://uploaddeimagens.com.br/images/003/907/124/full/Grupo_3133.png?1655496301);
    background-size: cover;
}

@media screen and (max-width: 1558px) {

    html {

        font-size: 88.00%;
    }
    
    .container {

        max-width: 90%;
    }


}

@media screen and (max-width: 1280px) {

    html {

        font-size: 85.00%;
    }

    
    .container {

        max-width: 95%;
    }
}

@media screen and (max-width: 1024px) {

    .container {

        max-width: 90%;
    }

    html {

        font-size: 80.00%;
    }
}

@media screen and (max-width: 768px) {

    html {

        font-size: 75.00%;
    }
}

@media screen and (max-width: 428px) {
    
    html {

        font-size: 70.00%;
    }
}